Django>=5.2,<6.0
django-cors-headers
django-mongodb-backend>=5.2.0,<6.0.0
djangorestframework
djangorestframework-simplejwt
django-storages
azure-storage-blob
gunicorn
google-cloud-storage
resend
openai
PyPDF2
python-docx
python-dotenv
requests
pymongo
certifi
numpy

firebase-admin
daphne
channels
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytz
reportlab
beautifulsoup4
